*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.imges{
    display: flex;
    transform: translateX(-400px);
    transition: all 0.5s;
}
.imges > img{
    width: 100%;
}
#buttonWrapper{
    text-align: center;
}
#buttonWrapper > button{
    padding: 5px;
    margin: 0 5px;
}
.control{
    text-align: center;
    margin: 10px 0;
}